/* Common styles for light and dark themes */
.App {
  min-height: 100vh;
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 1rem;
  align-content: flex-end;
  display: flex;
  justify-content: space-between;
}

.search-bar {
  margin-bottom: 1rem;
  padding: 10px;
}

.movie-item {
  margin-bottom: 1rem;
}

.movie-details {
  background-color: #fff;
  color: #343a40;
  padding: 1rem;
}

/* Light theme */
.App.light {
  background-color: #fff;
  color: #343a40;
}

.carousel-caption {
  color: black;
}

/* Dark theme */
.App.dark {
  background-color: #343a40;
  color: #fff;
}

.header.dark {
  background-color: #6c757d;
}

.search-bar.dark {
  background-color: #424242;
}

.movie-item.dark {
  background-color: #424242;
  color: #fff;
}

.movie-details.dark {
  background-color: #343a40;
  color: #fff;
}

.card.dark {
  background-color: rgb(27, 25, 25);
}

